/*Variables*/
/*General*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: calc(15px + 0.390625vw); }

body {
  background-image: url("../img/background.svg");
  position: absolute; }
  body h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #141414; }
  body h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    color: #141414; }
  body p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #8c8c8c; }
  body .badge-landing {
    background-color: #C4E1FC;
    color: #141414;
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
    font-weight: 400; }
  body .badge-app {
    background-color: #F1FF9D;
    color: #141414;
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
    font-weight: 400; }
  body .badge-uiux {
    background-color: #E7E4F9;
    color: #141414;
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
    font-weight: 400; }

.hero {
  height: 80vh; }
  .hero h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    color: #141414; }
  .hero span {
    display: inline-block;
    border-bottom: 2.25rem solid #F1FF9D;
    outline: 0px;
    outline-offset: 0px;
    height: 4.75rem; }
  .hero button {
    color: #141414;
    background-color: #F1FF9D;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    padding: 16px;
    border-radius: 32px;
    box-shadow: 0px 24px 48px 6px #E5E5E5, 0px 12px 24px 6px #F0F0F0;
    border: none; }
    .hero button:hover {
      color: #fff;
      background-color: #141414; }

.projects .card {
  border: none;
  padding: 0; }

.projects .card-body {
  padding: 0; }
  .projects .card-body p {
    font-size: 0.75rem; }
  .projects .card-body a {
    display: block;
    text-decoration: none;
    color: #141414;
    background-color: #fafafa;
    padding: 8px 16px;
    border-radius: 16px; }
    .projects .card-body a:hover {
      background-color: #F1FF9D; }
