$color-pepe-yellow: #F1FF9D;
$color-pepe-green: #ECF7CC;
$color-pepe-orange:#F8D5A6;
$color-pepe-purple: #E7E4F9;
$color-pepe-blue:#C4E1FC;

$color-no-black:#141414;
$color-no-gray:#8c8c8c;
$color-no-light-gray:#fafafa;
$color-white:#fff;